body{
    background-color: #eee;
}

.grid{
    display: grid;
    grid-template-rows: minmax(100, auto);
    /*grid-template-rows: 50px 100px;*/
    /* grid-template-columns: 90px 50px 120px;  1fr 2fr 3fr */
    grid-template-columns: minmax(auto, 50px) 1fr 3em;
    /* repeat(2,50px)    repetir el argumento*/
    row-gap: 20px;
    column-gap: 10px;
    gap: 20px 10px;
    
}
.element{
    background-color: red;
}

.header{
    grid-column-start: 1;
    grid-column-end: 6;
}